process.clusterOptions = '-R "select[hname!=\'hh-yoda-10-13.ebi.ac.uk\']" -R "select[hname!=\'hh-yoda-07-04.ebi.ac.uk\']" -R "select[hname!=\'hh-yoda-10-01.ebi.ac.uk\']"'
process.executor = 'lsf'
process.time = '48h'
executor.jobName = { "$task.name - $task.hash" }
executor.queueSize = 500
executor.perJobMemLimit = 128.GB

singularity {
  enabled = true
}

